#header {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a.header-links-main:visited {
  color: #294464;
}

.column-one-half-right {
  flex-basis: 60%;
  justify-content: flex-end;
}

.column-one-half-left {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.nav {
  display: flex;
}

.contact-us {
  background-color: #294464;
  border-radius: 4px;
  color: white;
  padding: 3%;
}

div.header-container {
  border-bottom: 1px solid rgb(196 196 196);
}

h1.header {
  margin: 0;
  color: #294464;
  font-size: 70px;
  font-weight: 100;
  font-family: "Tiempos Headline", sans-serif;
}

div#second-row {
  background-image: url("../images/implementation/implementation-header.jpg");
  background-size: cover;
  margin: 5% 10%;
  height: 700px;
}

a.header-links {
  color: rgb(187 187 187);
  font-size: 20px;
}

li.nav {
  list-style: none;
  padding-left: 20px;
}

ul.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.get-started {
  background-color: #294464;
  border-radius: 5px;
  color: white;
  padding: 15px 40px;
  font-size: 30px;
}

div.image-background-tint {
  background-color: rgb(77 77 77 / 30%);
  background-size: cover;
  padding: 5%;
  height: 700px;
}

p.primary-care {
  margin-right: 50%;
  color: white;
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 2%;
}

h1.primary-care {
  margin-right: 50%;
  margin-bottom: 0;
  color: white;
  font-size: 50px;
  font-weight: 100;
  font-family: "Tiempos Headline", sans-serif;
}

div.primary-care-body {
  padding-bottom: 20px;
}

div.ready-to-learn {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}

h1.column-one-half-learn,
p.column-one-half-learn {
  color: #6e6e6e;
}

h1.column-one-half-learn {
  font-family: "Tiempos Headline", sans-serif;
}

div.get-started-learn {
  background-color: #294464;
  border-radius: 5px;
  color: white;
  padding: 15px 40px;
  font-size: 30px;
}

div.column-one-half-learn {
  display: flex;
  align-items: center;
}

div.row-about {
  background-color: #525351;
}

div.canvas-about {
  display: flex;
  margin-left: 10%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

ol.canvas-about,
ol.canvas-company,
ol.canvas-product {
  padding-left: 0;
}

li.canvas-about {
  list-style: none;
  line-height: 30px;
  text-align: left;
}

li.canvas-company {
  list-style: none;
}

li.canvas-product {
  list-style: none;
}

.about,
.canvas-about,
.canvas-company,
.canvas-product {
  color: white;
}

.column-one-half-about {
  display: flex;
  flex-basis: 50%;
}

div.about-small-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column-one-quarter-about {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
  align-items: flex-start;
}

.canvas-product,
.canvas-company {
  line-height: 50px;
  font-size: 20px;
}

h1.about {
  font-weight: 200;
  font-size: 60px;
  margin: 0;
  margin-bottom: 20px;
}

li.canvas-company,
li.canvas-product {
  font-size: 23px;
}

div.row-footer {
  background-color: #fafafa;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

li.footer {
  list-style: none;
  flex-basis: 15%;
  font-size: 20px;
  color: #6e6e6e;
}

ul.footer-list {
  display: flex;
  padding: 0;
  margin-left: 10%;
  justify-content: left;
}
