#header {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  margin-top: 20px;
}

body {
  font-family: Avenir, sans-serif;
}

img.canvas-header {
  max-height: 35px;
}

a.header-links {
  color: rgb(148 148 148);
  font-size: 20px;
}

a {
  text-decoration: none;
}

a.header-links:visited {
  color: rgb(148 148 148);
}

a.about-links:visited {
  color: white;
}

.header-links-products {
  color: #294464;
  font-size: 20px;
}

.column-one-half-right {
  flex-basis: 60%;
  justify-content: flex-end;
}

.column-one-half-left {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.contact-us {
  background-color: #294464;
  border-radius: 4px;
  color: white;
  padding: 2%;
}

div.header-container {
  border-bottom: 1px solid rgb(196 196 196);
}

h1.header {
  margin-bottom: 6%;
}

div#second-row {
  background-image: url("../images/product/product-header.jpg");
  background-size: cover;
  margin: 5% 10%;
  height: 700px;
}

li.nav {
  list-style: none;
  padding-left: 20px;
}

ul.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.image-background-tint {
  background-color: rgb(77 77 77 / 30%);
  background-size: cover;
  padding: 5%;
  height: 700px;
  display: flex;
  align-items: center;
}

p.primary-care {
  margin-right: 50%;
  color: white;
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 2%;
}

h1.primary-care {
  margin-right: 50%;
  margin-bottom: 0;
  color: white;
  font-size: 50px;
  font-weight: 100;
  font-family: "Tiempos Headline", sans-serif;
}

div.third-row-margin {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.third-row {
  background-color: #fbfbfb;
}

.column-one-half {
  flex-basis: 45%;
}

h1.command,
h1.appointments,
h1.tests {
  font-family: "Tiempos Headline", sans-serif;
}

h1.command {
  font-size: 35px;
  font-weight: 550;
}

p.italics {
  font-style: italic;
}

p.command {
  line-height: 30px;
  font-size: 18px;
  padding-bottom: 15px;
}

.command-learn {
  color: #608194;
  font-size: 20px;
}

.command {
  color: #54514f;
}

img.stat {
  max-height: 600px;
}

div.fourth-row {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-one-half-life {
  flex-basis: 40%;
}

p.appointments {
  line-height: 30px;
  font-size: 18px;
  padding-bottom: 15px;
}

.appointments-learn {
  color: #608194;
  font-size: 18px;
}

.appointments {
  color: #54514f;
}

img.appointments {
  max-height: 600px;
  max-width: 550px;
}

h1.appointments {
  font-size: 35px;
  font-weight: 550;
}

div.row-learn {
  border-top: 1px solid rgb(196 196 196);
}

div.ready-to-learn {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}

div.fifth-row-margin {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.fifth-row {
  background-color: #fbfbfb;
}

.column-one-half-tests {
  flex-basis: 38%;
}

p.tests {
  line-height: 30px;
  font-size: 18px;
  padding-bottom: 15px;
}

.tests-learn {
  color: #608194;
  font-size: 18px;
}

.tests {
  color: #54514f;
}

img.tests {
  max-height: 600px;
}

h1.tests {
  font-size: 35px;
  font-weight: 550;
}

h1.column-one-half-learn,
p.column-one-half-learn {
  color: #6e6e6e;
}

h1.column-one-half-learn {
  font-family: "Tiempos Headline", sans-serif;
  font-size: 35px;
  font-weight: 500;
}

p.column-one-half-learn {
  font-size: 20px;
  font-weight: 550;
}

div.get-started-learn {
  background-color: #294464;
  border-radius: 5px;
  color: white;
  padding: 15px 40px;
  font-size: 30px;
}

div.column-one-half-learn {
  display: flex;
  align-items: center;
}

div.row-about {
  background-color: #525351;
}

div.canvas-about {
  display: flex;
  margin-left: 10%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

li.canvas-about {
  list-style: none;
  line-height: 30px;
  text-align: left;
  font-size: 20px;
}

li.canvas-company {
  list-style: none;
}

li.canvas-product {
  list-style: none;
}

.about,
.canvas-about,
.canvas-company,
.canvas-product {
  color: white;
}

.column-one-half-about {
  display: flex;
  flex-basis: 50%;
}

div.about-small-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column-one-quarter-about {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
  align-items: flex-start;
}

.canvas-product,
.canvas-company {
  line-height: 50px;
  font-size: 20px;
}

img.about {
  max-height: 35px;
  margin-bottom: 24%;
  margin-top: 15px;
}

ol.canvas-company,
ol.canvas-product,
ol.canvas-about {
  margin-top: 0;
  margin-bottom: 0%;
  padding-left: 0%;
}

li.canvas-company,
li.canvas-product {
  font-size: 23px;
}

div.row-footer {
  background-color: #fafafa;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

li.footer {
  list-style: none;
  flex-basis: 15%;
  font-size: 25px;
  font-weight: bolder;
  color: #6e6e6e;
}

ul.footer-list {
  display: flex;
  padding: 0;
  margin-left: 10%;
  justify-content: left;
}
